.#{$prefix}display_none--xs { display: none !important; }
.#{$prefix}display_inline--xs { display: inline !important; }
.#{$prefix}display_inline-block--xs { display: inline-block !important; }
.#{$prefix}display_block--xs { display: block !important; }
.#{$prefix}display_table--xs { display: table !important; }
.#{$prefix}display_table-cell--xs { display: table-cell !important; }
.#{$prefix}display_table-row--xs { display: table-row !important; }
.#{$prefix}display_flex--xs { display: flex !important; }
.#{$prefix}display_inline-flex--xs { display: inline-flex !important; }
.#{$prefix}overflow_auto--xs { overflow: auto !important; }
.#{$prefix}overflow_visible--xs { overflow: visible !important; }
.#{$prefix}overflow_hidden--xs { overflow: hidden !important; }
.#{$prefix}overflow_scroll--xs { overflow: scroll !important; }

@for $i from 1 through length($breakpoints) {
  @media screen and (min-width: nth($breakpoints, $i)){
    .#{$prefix}display_none--#{nth($suffix, $i)} { display: none !important; }
    .#{$prefix}display_inline--#{nth($suffix, $i)} { display: inline !important; }
    .#{$prefix}display_inline-block--#{nth($suffix, $i)} { display: inline-block !important; }
    .#{$prefix}display_block--#{nth($suffix, $i)} { display: block !important; }
    .#{$prefix}display_table--#{nth($suffix, $i)} { display: table !important; }
    .#{$prefix}display_table-cell--#{nth($suffix, $i)} { display: table-cell !important; }
    .#{$prefix}display_table-row--#{nth($suffix, $i)} { display: table-row !important; }
    .#{$prefix}display_flex--#{nth($suffix, $i)} { display: flex !important; }
    .#{$prefix}display_inline-flex--#{nth($suffix, $i)} { display: inline-flex !important; }
    .#{$prefix}overflow_auto--#{nth($suffix, $i)} { overflow: auto !important; }
    .#{$prefix}overflow_visible--#{nth($suffix, $i)} { overflow: visible !important; }
    .#{$prefix}overflow_hidden--#{nth($suffix, $i)} { overflow: hidden !important; }
    .#{$prefix}overflow_scroll--#{nth($suffix, $i)} { overflow: scroll !important; }
  }
}