$countDefault: 0;

@while $countDefault <= $max-size {
  .#{$prefix}margin_#{$countDefault}--xs { margin: $countDefault+px !important }
  .#{$prefix}margin-top_#{$countDefault}--xs { margin-top: $countDefault+px !important }
  .#{$prefix}margin-bottom_#{$countDefault}--xs { margin-bottom: $countDefault+px !important }
  .#{$prefix}margin-left_#{$countDefault}--xs { margin-left: $countDefault+px !important }
  .#{$prefix}margin-right_#{$countDefault}--xs { margin-right: $countDefault+px !important }

  $countDefault: $countDefault + $int-size;
}

// Breakpoints
$countResponsive: 0;

@while $countResponsive <= $max-size { 
  @for $o from 1 through length($breakpoints) {
    @media screen and (min-width: nth($breakpoints, $o)){
      .#{$prefix}margin_#{$countResponsive}--#{nth($suffix, $o)} { margin: $countResponsive+px !important }
      .#{$prefix}margin-top_#{$countResponsive}--#{nth($suffix, $o)} { margin-top: $countResponsive+px !important }
      .#{$prefix}margin-bottom_#{$countResponsive}--#{nth($suffix, $o)} { margin-bottom: $countResponsive+px !important }
      .#{$prefix}margin-left_#{$countResponsive}--#{nth($suffix, $o)} { margin-left: $countResponsive+px !important }
      .#{$prefix}margin-right_#{$countResponsive}--#{nth($suffix, $o)} { margin-right: $countResponsive+px !important }
    }
  }
  
  $countResponsive: $countResponsive + $int-size;
}
