// Variables

/* Prefix & suffix */
$prefix: 'nix-' !default; // init your class with this prefix

/* Breakpoints */
$sm: 768px !default;
$md: 1024px !default;
$lg: 1200px !default;
$breakpoints: $sm, $md, $lg;
$suffix: 'sm', 'md', 'lg'; // breakpoints suffix

/* Interval sizes by px */
$int-size: 5 !default; // interval (eg: 5, 10, 15, 20...)
$max-size: 100 !default; // max size