body {
  font-family: var(--font-primary);
  font-weight: 400; }

.btn-default {
  background: white; }
  .btn-default:hover {
    background: rgba(255, 255, 255, 0.7); }

.topbar .topbar-logo-icon {
  line-height: normal;
  height: 25px; }
  .topbar .topbar-logo-icon svg {
    width: 25px;
    fill: #6F06DA; }

.header {
  padding-top: 150px;
  padding-bottom: 150px; }
  .header .icon-title-header {
    width: 100px;
    height: 100px;
    margin: 0 auto; }
    .header .icon-title-header svg {
      fill: #6F06DA; }

.guide-content article {
  margin-bottom: 80px; }

code {
  white-space: nowrap; }

.CodeMirror {
  padding-right: 30px !important; }

.sidebar {
  z-index: 99; }

.about {
  background: url("../images/aurum.jpg") center center no-repeat;
  background-size: cover; }

.posts-list {
  margin-top: 100px; }

.title-section {
  font-family: "Galano", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center; }

.btn-link {
  background: white; }
  .btn-link:hover {
    background: rgba(255, 255, 255, 0.8); }

.list-post-home {
  display: flex; }
  .list-post-home .item-post-home {
    padding: 0 20px; }
    .list-post-home .item-post-home small {
      color: #999; }

.topbar-logo-link {
  display: flex;
  align-items: center; }
