@import 'variables';

.#{$prefix}display_none { display: none !important; }
.#{$prefix}display_inline { display: inline !important; }
.#{$prefix}display_inline-block { display: inline-block !important; }
.#{$prefix}display_block { display: block !important; }
.#{$prefix}display_table { display: table !important; }
.#{$prefix}display_table-cell { display: table-cell !important; }
.#{$prefix}display_table-row { display: table-row !important; }
.#{$prefix}display_flex { display: flex !important; }
.#{$prefix}display_inline-flex { display: inline-flex !important; }

@for $indexSuffix from 1 through length($suffix) {
  @include for-size( nth($suffix, $indexSuffix) ){
    .#{$prefix}display_none--#{nth($suffix, $indexSuffix)} { display: none !important; }
    .#{$prefix}display_inline--#{nth($suffix, $indexSuffix)} { display: inline !important; }
    .#{$prefix}display_inline-block--#{nth($suffix, $indexSuffix)} { display: inline-block !important; }
    .#{$prefix}display_block--#{nth($suffix, $indexSuffix)} { display: block !important; }
    .#{$prefix}display_table--#{nth($suffix, $indexSuffix)} { display: table !important; }
    .#{$prefix}display_table-cell--#{nth($suffix, $indexSuffix)} { display: table-cell !important; }
    .#{$prefix}display_table-row--#{nth($suffix, $indexSuffix)} { display: table-row !important; }
    .#{$prefix}display_flex--#{nth($suffix, $indexSuffix)} { display: flex !important; }
    .#{$prefix}display_inline-flex--#{nth($suffix, $indexSuffix)} { display: inline-flex !important; }
  }
}