@import 'variables';

// white-space
.#{$prefix}white-space_normal { white-space: normal !important; }
.#{$prefix}white-space_nowrap { white-space: nowrap !important; }
.#{$prefix}white-space_pre { white-space: pre !important; }

// overflow
.#{$prefix}overflow_auto { overflow: auto !important; }
.#{$prefix}overflow_hidden { overflow: hidden !important; }
.#{$prefix}overflow_scroll { overflow: scroll !important; }
.#{$prefix}overflow_visible { overflow: visible !important; }

// Cursor
.#{$prefix}cursor_default { cursor: default !important; }
.#{$prefix}cursor_pointer { cursor: pointer !important; }
.#{$prefix}cursor_not-allowed { cursor: not-allowed !important; }

@for $indexSuffix from 1 through length($suffix) {
  @include for-size( nth($suffix, $indexSuffix) ){
    .#{$prefix}white-space_normal--#{nth($suffix, $indexSuffix)} { white-space: normal !important; }
    .#{$prefix}white-space_nowrap--#{nth($suffix, $indexSuffix)} { white-space: nowrap !important; }
    .#{$prefix}white-space_pre--#{nth($suffix, $indexSuffix)} { white-space: pre !important; }

    .#{$prefix}overflow_auto--#{nth($suffix, $indexSuffix)} { overflow: auto !important; }
    .#{$prefix}overflow_hidden--#{nth($suffix, $indexSuffix)} { overflow: hidden !important; }
    .#{$prefix}overflow_scroll--#{nth($suffix, $indexSuffix)} { overflow: scroll !important; }
    .#{$prefix}overflow_visible--#{nth($suffix, $indexSuffix)} { overflow: visible !important; }

    .#{$prefix}cursor_default--#{nth($suffix, $indexSuffix)} { cursor: default !important; }
    .#{$prefix}cursor_pointer--#{nth($suffix, $indexSuffix)} { cursor: pointer !important; }
    .#{$prefix}cursor_not-allowed--#{nth($suffix, $indexSuffix)} { cursor: not-allowed !important; }
  }
}