@import 'variables';

.#{$prefix}text-align_left { text-align: left !important }
.#{$prefix}text-align_right { text-align: right !important }
.#{$prefix}text-align_center { text-align: center !important }
.#{$prefix}text-align_justify { text-align: justify !important }

.#{$prefix}text-transform_none { text-transform: none !important }
.#{$prefix}text-transform_lowercase { text-transform: lowercase !important }
.#{$prefix}text-transform_uppercase { text-transform: uppercase !important }
.#{$prefix}text-transform_capitalize { text-transform: capitalize !important }

.#{$prefix}font-weight_normal { font-weight: normal !important }
.#{$prefix}font-weight_bold { font-weight: bold !important }
.#{$prefix}font-weight_bolder { font-weight: bolder !important }
.#{$prefix}font-weight_lighter { font-weight: lighter !important }

.#{$prefix}font-style_normal { font-style: normal !important }
.#{$prefix}font-style_italic { font-style: italic !important }
.#{$prefix}font-style_oblique { font-style: oblique !important }

.#{$prefix}text-overflow_clip { text-overflow: clip !important; }
.#{$prefix}text-overflow_ellipsis { text-overflow: ellipsis !important; }
.#{$prefix}text-overflow_initial { text-overflow: initial !important; }
.#{$prefix}text-overflow_inherit { text-overflow: inherit !important; }

.#{$prefix}white-space_normal { white-space: normal !important; }
.#{$prefix}white-space_nowrap { white-space: nowrap !important; }
.#{$prefix}white-space_pre { white-space: pre !important; }

@for $indexSuffix from 1 through length($suffix) {
  @include for-size( nth($suffix, $indexSuffix) ){
    .#{$prefix}text-align_left--#{nth($suffix, $indexSuffix)} { text-align: left !important }
    .#{$prefix}text-align_right--#{nth($suffix, $indexSuffix)} { text-align: right !important }
    .#{$prefix}text-align_center--#{nth($suffix, $indexSuffix)} { text-align: center !important }
    .#{$prefix}text-align_justify--#{nth($suffix, $indexSuffix)} { text-align: justify !important }

    .#{$prefix}text-transform_none--#{nth($suffix, $indexSuffix)} { text-transform: none !important }
    .#{$prefix}text-transform_lowercase--#{nth($suffix, $indexSuffix)} { text-transform: lowercase !important }
    .#{$prefix}text-transform_uppercase--#{nth($suffix, $indexSuffix)} { text-transform: uppercase !important }
    .#{$prefix}text-transform_capitalize--#{nth($suffix, $indexSuffix)} { text-transform: capitalize !important }

    .#{$prefix}font-weight_normal--#{nth($suffix, $indexSuffix)} { font-weight: normal !important }
    .#{$prefix}font-weight_bold--#{nth($suffix, $indexSuffix)} { font-weight: bold !important }
    .#{$prefix}font-weight_bolder--#{nth($suffix, $indexSuffix)} { font-weight: bolder !important }
    .#{$prefix}font-weight_lighter--#{nth($suffix, $indexSuffix)} { font-weight: lighter !important }
    
    .#{$prefix}font-style_normal--#{nth($suffix, $indexSuffix)} { font-style: normal !important }
    .#{$prefix}font-style_italic--#{nth($suffix, $indexSuffix)} { font-style: italic !important }
    .#{$prefix}font-style_oblique--#{nth($suffix, $indexSuffix)} { font-style: oblique !important }

    .#{$prefix}text-overflow_clip--#{nth($suffix, $indexSuffix)} { text-overflow: clip !important; }
    .#{$prefix}text-overflow_ellipsis--#{nth($suffix, $indexSuffix)} { text-overflow: ellipsis !important; }
    .#{$prefix}text-overflow_initial--#{nth($suffix, $indexSuffix)} { text-overflow: initial !important; }
    .#{$prefix}text-overflow_inherit--#{nth($suffix, $indexSuffix)} { text-overflow: inherit !important; }

    .#{$prefix}white-space_normal--#{nth($suffix, $indexSuffix)} { white-space: normal !important; }
    .#{$prefix}white-space_nowrap--#{nth($suffix, $indexSuffix)} { white-space: nowrap !important; }
    .#{$prefix}white-space_pre--#{nth($suffix, $indexSuffix)} { white-space: pre !important; }
  }
}