@import 'variables';

.#{$prefix}vertical-align_baseline { vertical-align: baseline !important; }
.#{$prefix}vertical-align_top { vertical-align: top !important; }
.#{$prefix}vertical-align_middle { vertical-align: middle !important; }
.#{$prefix}vertical-align_bottom { vertical-align: bottom !important; }
.#{$prefix}vertical-align_text-top { vertical-align: text-top !important; }
.#{$prefix}vertical-align_text-bottom { vertical-align: text-bottom !important; }

@for $indexSuffix from 1 through length($suffix) {
  @include for-size( nth($suffix, $indexSuffix) ){
    .#{$prefix}vertical-align_baseline--#{nth($suffix, $indexSuffix)} { vertical-align: baseline !important; }
    .#{$prefix}vertical-align_top--#{nth($suffix, $indexSuffix)} { vertical-align: top !important; }
    .#{$prefix}vertical-align_middle--#{nth($suffix, $indexSuffix)} { vertical-align: middle !important; }
    .#{$prefix}vertical-align_bottom--#{nth($suffix, $indexSuffix)} { vertical-align: bottom !important; }
    .#{$prefix}vertical-align_text-top--#{nth($suffix, $indexSuffix)} { vertical-align: text-top !important; }
    .#{$prefix}vertical-align_text-bottom--#{nth($suffix, $indexSuffix)} { vertical-align: text-bottom !important; }
  }
}