@import 'variables';

$props: '', '-top', '-bottom', '-left', '-right';

@for $indexProps from 1 through length($props) {
  $countDefault: 0;
  @while $countDefault <= $max-size {
    .#{$prefix}margin#{nth($props, $indexProps)}_#{$countDefault} { margin#{nth($props, $indexProps)}: $countDefault#{$measure} !important }
    $countDefault: $countDefault + 5;
  }
}

@for $indexSuffix from 1 through length($suffix) {
  @include for-size( nth($suffix, $indexSuffix) ){
    @for $indexProps from 1 through length($props) {
      $countDefault: 0;
      @while $countDefault <= $max-size {
        .#{$prefix}margin#{nth($props, $indexProps)}_#{$countDefault}--#{nth($suffix, $indexSuffix)} { margin#{nth($props, $indexProps)}: $countDefault#{$measure} !important }
        $countDefault: $countDefault + 5;
      }
    }
  }
}
