$accent: #861294;
$dark: #333;
$gradient: linear-gradient(135deg, #861294 0%,#52198c 100%);

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
}

.docs .guide-content h2 { font-size: 3rem }
.docs .guide-content h3 { font-size: 2.5rem }

.btn-default {
  background: rgba(255,255,255,1);
  &:hover {
    background: rgba(255,255,255,.7);
  }
}

.topbar .topbar-logo-icon {
  line-height: normal;
  height: 25px;
  svg {
    width: 25px;
    fill: $accent;
  }
}

.topbar-menu {
  display: none;
}

.header {
  position: absolute;
  color: white;
  font-family: "Galano", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 440px;
  left: 0;
  top: 0;
  background: $gradient;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    z-index: 2;
  }

  .sky {
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 60%;
      top: 0;
      left: 0;
      display: block;
      background: url('../images/sky.svg') center center repeat;
      opacity: .5;
      @media(max-width: 768px) {
        height: 70%;
      }
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
      background: url('../images/mountains.svg') center bottom no-repeat;
      background-size: contain;
      opacity: .3;
    }
  }

  a:not(.btn) {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  .icon-title-header {
    margin: 0 auto;
    img {
      width: 400px;
      margin-left: 100px;
      @media(max-width:600px){
        width: 50%;
        margin-left: 14%;
      }
    }
  }
  .header-description {
    font-weight: 100;
  }
}

.topbar.topbar-light {
  display: none;
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.topbar-light .topbar-list {
  background-color: transparent;
}

.guide-content {
  article {
    margin-bottom: 80px;
  }
}

code {
  white-space: nowrap;
}

.CodeMirror {
  padding-right: 30px !important;
}

.sidebar {
  z-index: 99;
}

.about {
  background: url('../images/aurum.jpg') center center no-repeat;
  background-size: cover;
}

.posts-list {
  margin-top: 100px;
}

.title-section {
  font-family: "Galano", sans-serif;
  text-align: center;
  margin: 50px 0 80px;
  h1 {
    font-size: 30px;
    font-weight: 100;
  }
  @media(max-width:600px){
    margin: 30px 0 50px;
    h1 {
      font-size: 20px;
    }
  }
}

.btn-link {
  background: rgba(255,255,255,1);
  color: $accent;
  &:hover,
  &:focus,
  &.active {
    background: $accent;
    color: white;
  }
}

.list-post-home {
  display: flex;
  .item-post-home {
    padding: 0 20px;
    small {
      color: #999;
    }
  }
}

.topbar-logo-link {
  display: flex;
  align-items: center;
}

.github-btns {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  @media(max-width:600px){
    margin-top: 50px;
  }
  .github-btn {
    margin: 0 20px;
  }
}

.docs .guide-header {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  background: $gradient;
  text-align: left;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/sky.svg') center center;
    opacity: .5;
  }
  .title {
    color: white;
  }
}

.topbar-docs {
  position: absolute !important;
  background: transparent !important;
  @media(max-width: 960px){
    top: 60px;
  }
  * {
    color: white;
  }
}