{namespace Footer}

/**
 */
{template .render}
	<footer class="footer">
		<div class="container">
			<div class="row">
				<p class="footer-description col-md-6 col-md-offset-8">
					Powered by <a href="http://aurum.com.br" target="_blank">Aurum</a>
				</p>
			</div>
		</div>
	</footer>
{/template}