@import 'variables';

.#{$prefix}display_none { display: none !important; }
.#{$prefix}display_inline { display: inline !important; }
.#{$prefix}display_inline-block { display: inline-block !important; }
.#{$prefix}display_block { display: block !important; }
.#{$prefix}display_table { display: table !important; }
.#{$prefix}display_table-cell { display: table-cell !important; }
.#{$prefix}display_table-row { display: table-row !important; }
.#{$prefix}display_flex { display: flex !important; }
.#{$prefix}display_inline-flex { display: inline-flex !important; }

@for $i from 1 through length($breakpoints) {
  @media screen and (max-width: nth($breakpoints, $i) - 1px){
    .#{$prefix}display_none--#{nth($suffix, $i)} { display: none !important; }
    .#{$prefix}display_inline--#{nth($suffix, $i)} { display: inline !important; }
    .#{$prefix}display_inline-block--#{nth($suffix, $i)} { display: inline-block !important; }
    .#{$prefix}display_block--#{nth($suffix, $i)} { display: block !important; }
    .#{$prefix}display_table--#{nth($suffix, $i)} { display: table !important; }
    .#{$prefix}display_table-cell--#{nth($suffix, $i)} { display: table-cell !important; }
    .#{$prefix}display_table-row--#{nth($suffix, $i)} { display: table-row !important; }
    .#{$prefix}display_flex--#{nth($suffix, $i)} { display: flex !important; }
    .#{$prefix}display_inline-flex--#{nth($suffix, $i)} { display: inline-flex !important; }
  }
}