@import 'variables';

// white-space
.#{$prefix}white-space_normal { white-space: normal !important; }
.#{$prefix}white-space_nowrap { white-space: nowrap !important; }
.#{$prefix}white-space_pre { white-space: pre !important; }

// overflow
.#{$prefix}overflow_auto { overflow: auto !important; }
.#{$prefix}overflow_hidden { overflow: hidden !important; }
.#{$prefix}overflow_scroll { overflow: scroll !important; }
.#{$prefix}overflow_visible { overflow: visible !important; }

// Cursor
.#{$prefix}cursor_default { cursor: default !important; }
.#{$prefix}cursor_pointer { cursor: pointer !important; }
.#{$prefix}cursor_not-allowed { cursor: not-allowed !important; }

@for $i from 1 through length($breakpoints) {
  @media screen and (max-width: nth($breakpoints, $i) - 1px){
    .#{$prefix}white-space_normal--#{nth($suffix, $i)} { white-space: normal !important; }
    .#{$prefix}white-space_nowrap--#{nth($suffix, $i)} { white-space: nowrap !important; }
    .#{$prefix}white-space_pre--#{nth($suffix, $i)} { white-space: pre !important; }

    .#{$prefix}overflow_auto--#{nth($suffix, $i)} { overflow: auto !important; }
    .#{$prefix}overflow_hidden--#{nth($suffix, $i)} { overflow: hidden !important; }
    .#{$prefix}overflow_scroll--#{nth($suffix, $i)} { overflow: scroll !important; }
    .#{$prefix}overflow_visible--#{nth($suffix, $i)} { overflow: visible !important; }

    .#{$prefix}cursor_default--#{nth($suffix, $i)} { cursor: default !important; }
    .#{$prefix}cursor_pointer--#{nth($suffix, $i)} { cursor: pointer !important; }
    .#{$prefix}cursor_not-allowed--#{nth($suffix, $i)} { cursor: not-allowed !important; }
  }
}