html, body {
  min-height: 100%;
  height: 100%; }

body {
  font-family: var(--font-primary);
  font-weight: 400; }

.docs .guide-content h2 {
  font-size: 3rem; }

.docs .guide-content h3 {
  font-size: 2.5rem; }

.btn-default {
  background: white; }
  .btn-default:hover {
    background: rgba(255, 255, 255, 0.7); }

.topbar .topbar-logo-icon {
  line-height: normal;
  height: 25px; }
  .topbar .topbar-logo-icon svg {
    width: 25px;
    fill: #861294; }

.topbar-menu {
  display: none; }

.header {
  position: absolute;
  color: white;
  font-family: "Galano", sans-serif;
  width: 100%;
  height: 100%;
  min-height: 440px;
  left: 0;
  top: 0;
  background: linear-gradient(135deg, #861294 0%, #52198c 100%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .header .container {
    position: relative;
    z-index: 2; }
  .header .sky:before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    display: block;
    background: url("../images/sky.svg") center center repeat;
    opacity: .5; }
    @media (max-width: 768px) {
      .header .sky:before {
        height: 70%; } }
  .header .sky:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background: url("../images/mountains.svg") center bottom no-repeat;
    background-size: contain;
    opacity: .3; }
  .header a:not(.btn) {
    color: white; }
    .header a:not(.btn):hover {
      text-decoration: underline; }
  .header .icon-title-header {
    margin: 0 auto; }
    .header .icon-title-header img {
      width: 400px;
      margin-left: 100px; }
      @media (max-width: 600px) {
        .header .icon-title-header img {
          width: 50%;
          margin-left: 14%; } }
  .header .header-description {
    font-weight: 100; }

.topbar.topbar-light {
  display: none;
  position: relative;
  z-index: 2;
  background-color: transparent; }

.topbar-light .topbar-list {
  background-color: transparent; }

.guide-content article {
  margin-bottom: 80px; }

code {
  white-space: nowrap; }

.CodeMirror {
  padding-right: 30px !important; }

.sidebar {
  z-index: 99; }

.about {
  background: url("../images/aurum.jpg") center center no-repeat;
  background-size: cover; }

.posts-list {
  margin-top: 100px; }

.title-section {
  font-family: "Galano", sans-serif;
  text-align: center;
  margin: 50px 0 80px; }
  .title-section h1 {
    font-size: 30px;
    font-weight: 100; }
  @media (max-width: 600px) {
    .title-section {
      margin: 30px 0 50px; }
      .title-section h1 {
        font-size: 20px; } }

.btn-link {
  background: white;
  color: #861294; }
  .btn-link:hover, .btn-link:focus, .btn-link.active {
    background: #861294;
    color: white; }

.list-post-home {
  display: flex; }
  .list-post-home .item-post-home {
    padding: 0 20px; }
    .list-post-home .item-post-home small {
      color: #999; }

.topbar-logo-link {
  display: flex;
  align-items: center; }

.github-btns {
  margin-top: 80px;
  display: flex;
  justify-content: center; }
  @media (max-width: 600px) {
    .github-btns {
      margin-top: 50px; } }
  .github-btns .github-btn {
    margin: 0 20px; }

.docs .guide-header {
  position: relative;
  z-index: 1;
  padding-top: 120px;
  background: linear-gradient(135deg, #861294 0%, #52198c 100%); }
  .docs .guide-header:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../images/sky.svg") center center;
    opacity: .5; }
  .docs .guide-header .title {
    color: white; }

.topbar-docs {
  position: absolute !important;
  background: transparent !important; }
  @media (max-width: 960px) {
    .topbar-docs {
      top: 60px; } }
  .topbar-docs * {
    color: white; }
