@import 'variables';

.#{$prefix}float_none { float: none !important; }
.#{$prefix}float_left { float: left !important; }
.#{$prefix}float_right { float: right !important; }
.#{$prefix}clear_none { clear: none !important; }
.#{$prefix}clear_both { clear: both !important; }
.#{$prefix}clear_left { clear: left !important; }
.#{$prefix}clear_right { clear: right !important; }

@for $indexSuffix from 1 through length($suffix) {
  @include for-size( nth($suffix, $indexSuffix) ){
    .#{$prefix}float_none--#{nth($suffix, $indexSuffix)} { float: none !important; }
    .#{$prefix}float_left--#{nth($suffix, $indexSuffix)} { float: left !important; }
    .#{$prefix}float_right--#{nth($suffix, $indexSuffix)} { float: right !important; }
    .#{$prefix}clear_none--#{nth($suffix, $indexSuffix)} { clear: none !important; }
    .#{$prefix}clear_both--#{nth($suffix, $indexSuffix)} { clear: both !important; }
    .#{$prefix}clear_left--#{nth($suffix, $indexSuffix)} { clear: left !important; }
    .#{$prefix}clear_right--#{nth($suffix, $indexSuffix)} { clear: right !important; }
  }
}